@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/promo/promo';
@import 'blocks/title/title';
@import 'blocks/button/button';
@import 'blocks/sidepanel/sidepanel';
@import 'blocks/menu/menu';
@import 'blocks/about/about';
@import 'blocks/divider/divider';
@import 'blocks/resume/resume';
@import 'blocks/skills/skills';
@import 'blocks/portfolio/portfolio';
@import 'blocks/pricelist/pricelist';
@import 'blocks/contacts/contacts';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
	margin: 0;
}

label {
	margin-bottom: 0;
}
@import 'base/media_checkpoints';
@import 'blocks/promo/promo_media';
@import 'blocks/title/title_media';
@import 'blocks/button/button_media';
@import 'blocks/sidepanel/sidepanel_media';
@import 'blocks/menu/menu_media';
@import 'blocks/about/about_media';
@import 'blocks/divider/divider__media';
@import 'blocks/resume/resume_media';
@import 'blocks/skills/skills_media';
@import 'blocks/portfolio/portfolio_media';
@import 'blocks/pricelist/pricelist_media';
@import 'blocks/contacts/contacts_media';


